:root {
  --white:#ffffff;
  --very-light-blue:#f4f7ff;
  --light-blue:#e0e8ff;
  --blue:#3828e0;
  --gray:#717fa6;
  --grayish-blue:#1f2e56;
  --black:#000000;

  --font: 'Red Hat Display', sans-serif;
}