:root {
  --white:#ffffff;
  --very-light-blue:#f4f7ff;
  --light-blue:#e0e8ff;
  --blue:#3828e0;
  --gray:#717fa6;
  --grayish-blue:#1f2e56;
  --black:#000000;

  --red-hat-display: 'Red Hat Display', sans-serif;
}
html {
  font-size:62.5%;
  font-family:var(--red-hat-display);
}
body {
  min-height: 100vh;
}
main {
  width: 414px;
  height: 788px;
  position: absolute;
  margin: 100px auto;
  background: url(../img/pattern-background-mobile.svg) no-repeat center;
  background-size: cover;
  background-color: var(--light-blue);
}