  @import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@600;700;900&display=swap');

:root {
  --white:#ffffff;
  --very-light-blue:#f4f7ff;
  --light-blue:#e0e8ff;
  --blue:#3829e0;
  --gray:#717fa6;
  --grayish-blue:#1f2e56;
  --black:#000000;

  --red-hat-display: 'Red Hat Display', sans-serif;
}
html {
  font-size:62.5%;
  font-family:var(--red-hat-display);
}
main {
  width: 41.4rem;
  height: 78.8rem;
  margin: 5rem auto;
  position: absolute;
  top: 5rem;
  left: 40%;
  background: url(../img/pattern-background-mobile.svg) no-repeat center;
  background-size: cover;
  background-color: var(--light-blue);
}
