.container__list {
  position: absolute;
}
.container__list-button {
  width: 31rem;
  height: 5.8rem;
  font-size: 1.7rem;
  font-weight: 700;
  margin: 2.6rem;
  padding: 1.8rem 0 0 7rem;
  background-color: var(--blue);
  border-radius: 1.5rem;
  position: relative;
  transition: .3s ease-in-out;
}
.container__list-button:hover {
  opacity: .7;
  cursor: pointer;
}
.container__list-button a {
  color: var(--white);
}
.container__list-cancel a {
  font-size: 1.8rem;
  font-weight: 900;
  color: var(--gray);
  margin-left: 12.3rem;
  position: relative;
}
.container__list-cancel a:hover {
  color:var(--black);
  cursor: pointer; 
}