.container__description {
  width: 295px;
  height: 150px;
  margin: 30px auto;
}
.container__description h1 {
  font-size: 2.5rem;
  font-weight: 900;
  opacity: 0.8;
  margin-bottom: 16px;
  text-align: center;
}
.container__description p {
  font-size: 1.7rem;
  font-weight: 600;
  color: var(--gray);
  line-height: 2.8rem;
  text-align: center;
}