.container__annual-plan {
  width: 30.5rem;
  height: 9rem;
  background-color: var(--very-light-blue);
  margin: 1rem auto 0;
  border-radius: 10px;
  display: flex;
  justify-content: space-around
}
.container__annual-plan img {
  width: 5rem;
  height: 5rem;
  margin: 2.3rem 0 0 -0.5rem;
}
.container__annual-plan h5 {
  font-size: 1.6rem;
  font-weight: 900;
  color:var(--black);
  margin: 2.4rem 0 .05rem -3.2rem;
  opacity: .8;
}
.container__annual-plan p {
  font-size: 1.6rem;
  color: var(--gray);
  margin: -0.3rem 0 0 -2.8rem;
  opacity: .8;
}
.container__annual-plan a {
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: underline;
  margin: 3.9rem -0.9rem 0 0;
  transition: .3s ease-in-out;
}
.container__annual-plan a:hover {
  text-decoration: none;
  opacity: .7;
}