.container__annual-plan {
  width: 305px;
  height: 90px;
  background-color: red;
  margin: 10px auto 0;
  border-radius: 10px;
}
.container__annual-plan img {
  margin: 18px 0 0 16px;
  width: 17%;
}

